/*-----------------------------------Colors*/

.bg-brown {
    background-color: #3d2f24;
}

.bg-blue {
    background-color: #9dc7f4;
}

.bg-green {
    background-color: #344722;
}

.bg-lgreen {
    background-color: #9acf95;
    height: 30px;
}

.bg-grey {
    background-color: rgba(90, 90, 90, 0.6) ;
}

/*-----------------------------------Fonts*/
.main-font {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
}

/*-----------------------------------Navbar*/
.nav-text {
    color: #9acf95;
}

.hidden {
    display: none;
}

/*---------------------------------Main page*/

.main-jumbo{
    margin-top: 35%;
    margin-left: 10%;
    height: 300px;
    width: 80%;
}

.main-jumbo-title {
    font-family:'Tilt Neon', sans-serif;
    font-size: 60px;
    margin-bottom: 12px;
}

.main-jumbo-text {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.main-jumbo-linktext {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin: 0;
}

.jumbo-searchbar {
    margin: 10px;
    width: 95%;
}

/*------------------------------------Footer*/

.footer-body {
    height: 10%;
}